* {
  margin: 0;

  padding: 0;
}
.outerbox {
  margin: auto;
  justify-content: center;
  height: 600px;
  width: 400px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}
.btn {
  width: 100%;
  border: 1px solid green;
  color: white;
  background-color: green;
  border-radius: 5px;
}

/* .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
} */
/* input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}*/
  
input[type="radio"]:after {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  content: "";
  position: absolute;
  border: 1px solid black;
}

input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.container input:checked ~ .checkmark {
  background-color: orange;
}
.amountbox {
  display: inline-block;
  flex-direction: row;
  width: 100px;
  position: relative;
  /* flex-wrap: wrap; */
}
input,
placeholder {
  font-weight: bold;
  color: black;
}
